################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MatterCadGui/bin/Debug
/.vs
/MatterCadGui/obj
/Net2dBoolDemo2/bin
/Net2dBoolDemo2/obj
/packages
/WindowTest/bin/Debug
/WindowTest/obj/Debug
